<div class="lottey-wrapper" fxLayout="column" fxLayoutGap="3rem">
  <div style="width: 100%" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="0.5rem">
      <button
        class="create-lottery-button"
        [routerLink]="['/secret']"
        *ngIf="userHasValidNft"
      >
        Enter secret website
      </button>
      <button
        class="create-lottery-button"
        [routerLink]="['/control-panel']"
        *ngIf="isUserTheOwner"
      >
        Control Panel
      </button>
      <button class="create-lottery-button" [routerLink]="['/nft']">NFT</button>
    </div>

    <button
      class="create-lottery-button"
      (click)="connectToWallet()"
      *ngIf="!currentAddress?.length; else welcomeBlock"
    >
      Connect to Wallet!
    </button>

    <ng-template #welcomeBlock>
      <div class="lottery-instance">Welcome {{ currentAddress }}!</div>
    </ng-template>
  </div>

  <router-outlet></router-outlet>
</div>
