<div
  class="lottey-wrapper"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="2rem"
>
  <button type="button" class="create-lottery-button" (click)="createLottery()">
    Create Lottery
  </button>

  <div class="success-message" *ngIf="successMessage">
    {{ successMessage }}
  </div>
  <div class="error-message" *ngIf="errorMessage">
    There was an error with your transfer
  </div>

  <div
    class="lottery-instance"
    *ngFor="let lottery of lotteries"
    fxLayout="column"
    fxLayoutGap="1rem"
  >
    <span>{{ lottery }}</span>
    <div *ngFor="let player of lotteryPlayers[lottery]?.players" class="player">
      {{ player }}
    </div>

    <div *ngIf="!lotteryPlayers[lottery]?.players?.length" class="player">
      there are no players in this lottery
    </div>

    <button
      *ngIf="getCanEnter(lottery)"
      (click)="participateInLottery(lottery)"
      class="create-lottery-button"
    >
      Enter
    </button>
    <button
      *ngIf="
        lotteryPlayers[lottery]?.manager === currentAddress &&
        currentAddress?.length
      "
      class="create-lottery-button"
      (click)="pickWinner(lottery)"
    >
      PickWinner
    </button>
  </div>
</div>
