.nft {
  border: 3px solid #e76f51;
  border-radius: 5px;
  width: 15rem;
  min-height: 25rem;
}

.nftId {
  width: 100%;
  font-size: 15rem;
  background-color: #f4f1de;
  min-height: 22rem;
}

.create-lottery-button {
  padding: 0.5rem 1rem;
  background-color: #e07a5f;
  border-radius: 0.5rem;
  color: #f2cc8f;
  font-weight: bold;
  font-size: 2rem;
}

.yours {
  background-color: #81b29a;
  color: black;
}

.spinner {
  width: 3rem;
  height: 3rem;
}
